<!DOCTYPE html>
<html lang="en" class="kss-root  is-kss-example-light">
<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="rgba(255, 255, 255)" />
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="rgba(30, 30, 30)" />

  <title>Style Guide - {{packageName}} (v{{packageVersion}})</title>
  <meta name="description" content="{{packageDescription}}" />
  <link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="kss-assets/images/favicon.ico" />
  <link rel="icon" type="image/svg+xml" href="kss-assets/images/favicon.svg" />
  <link rel="apple-touch-icon" sizes="192x192" href="kss-assets/images/touchicon.png" />
  <meta name="apple-mobile-web-app-title" content="{{packageName}}" />

  {{!--
    css for style guide
  --}}
  <link rel="stylesheet" href="kss-assets/css/main{{#if (calc (NODE_ENV) '!==' 'kss-builder-development')}}.min{{/if}}.css" />

  {{!--
    load specified paths by options.css
  --}}
  {{#if styles}}
    {{{styles}}}
  {{/if}}

</head>
<body>

  {{!--
    drawer
  --}}
  {{~#> kss-layout-drawer
    class=''
  }}

    {{!--
      display overview when has homepage value
      otherwise display style guide sections
    --}}
    {{~#if this.homepage}}

      {{#> kss-document-overview
        class=''
      }}
        {{{this.homepage}}}
      {{/kss-document-overview}}

    {{else}}

      {{~#each sections}}

        {{!--
          display only heading when no example
        --}}
        {{~#unless this.example}}

          {{#unless this.parameters}}

            {{!--
              section heading
            --}}
            {{> kss-heading-section
              this
              referenceURI=(choice (calc this.depth '===' 1) '' this.referenceURI)
              class=(choice @first '' 'kss-u--margin-top-60')
            }}

          {{else}}

            {{!--
              section
            --}}
            {{#> kss-section-main
              this
              class=(choice @first '' 'kss-u--margin-top-40, kss-u--padding-top-40, kss-u--border-highlight-top')
            }}

              {{#> kss-document-overview
                class='kss-u--margin-top-15'
              }}
                {{> helper/parameters
                  parameters=this.parameters
                }}
              {{/kss-document-overview}}

            {{/kss-section-main}}

          {{/unless}}

        {{else}}

          {{!--
            section
          --}}
          {{#> kss-section-main
            this
            class=(choice @first '' 'kss-u--margin-top-40, kss-u--padding-top-40, kss-u--border-highlight-top')
          }}

            {{!--
              list of parameters
            --}}
            {{#> kss-document-overview
              class='kss-u--padding-top-15'
            }}
              {{> helper/parameters
                parameters=this.parameters
              }}
            {{/kss-document-overview}}

            {{!--
              example of rendered markup by default
            --}}
            {{~> kss-example-variation
              markup=this.markup
              description=''
              class='kss-u--margin-top-30'
            }}

            {{!--
              example of rendered markup by modifiers
            --}}
            {{#each this.modifiers}}
              {{~> kss-example-variation
                this
                class='kss-u--margin-top-30'
              }}
            {{/each}}

            {{!--
              example of markup
            --}}
            {{~> kss-example-markup
              this
              class='kss-u--margin-top-30'
            }}

          {{/kss-section-main}}

        {{/unless}}

      {{/each}}

    {{/if}}

  {{/kss-layout-drawer}}

  {{!--
    scripts for style guide
  --}}
  <script type="module" src="kss-assets/js/main.js"></script>

  {{!--
    load specified paths by options.js
  --}}
  {{#if scripts}}
    {{{scripts}}}
  {{/if}}

  {{!--
    load specified paths by options.mjs
  --}}
  {{#if esmodules}}
    {{{esmodules}}}
  {{/if}}

</body>
</html>
